version: "3"
services:
  feed:
    image: ghcr.io/lvchkn/hnfeed:latest
    environment:
      - ASPNETCORE_ENVIRONMENT=production
      - ASPNETCORE_FORWARDEDHEADERS_ENABLED=true

      - RabbitMq:Hostname=${RMQ_HOST}
      - RabbitMq:Username=${RMQ_USER}
      - RabbitMq:Password=${RMQ_PW}
      - RabbitMq:Port=${RMQ_PORT}

      - Postgres:Host=${POSTGRES_HOST}
      - Postgres:Port=${POSTGRES_PORT}
      - Postgres:Username=${POSTGRES_USER}
      - Postgres:Password=${POSTGRES_PW}
      - Postgres:Database=${POSTGRES_DB}

      - GithubAuth:AppName=${GH_APP_NAME}
      - GithubAuth:ClientId=${GH_CLIENT_ID}
      - GithubAuth:ClientSecret=${GH_CLIENT_SECRET}

      - ClientUrl=${CLIENT_URL}
    restart: on-failure
    depends_on:
      - postgres
      - nginx-be
  nginx-be:
    image: nginx:alpine3.20-slim
    ports:
      - "443:443"
      - "80:80"
    volumes:
      - ./nginx.production.conf:/etc/nginx/nginx.conf:ro
      - ./certbot/conf:/etc/nginx/ssl:ro
      - ./certbot/www:/var/www/certbot:ro
  certbot:
    image: certbot/certbot:v2.11.0
    volumes:
      - ./certbot/conf:/etc/letsencrypt:rw
      - ./certbot/www:/var/www/certbot:rw
    command: renew --webroot -w /var/www/certbot --dry-run --cert-name ${DOMAIN} --agree-tos --register-unsafely-without-email
  postgres:
    image: postgres:15.1
    restart: always
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PW}
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata:
